.blog-page {
  margin-top: 30px;
}

.single-blog .blog-wrapper .blog-meta {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  font-size: 12px;
}

.single-blog {
  margin-top: 40px;
}

.single-blog figure img {
  width: 100%;
}

.single-blog .blog-tags {
  font-weight: 500;
}

.single-blog .blog-wrapper .blog-meta div:not(:last-child):after {
  content: "----";
  color: red;
  padding: 0px 8px 0px 5px;
}

.single-blog .blog-wrapper .blog-title {
  font-size: 40px;
}

.single-blog .blog-wrapper .blog-content p {
  margin-top: 15px;
  font-size: 14px;
  color: grey;
}

.single-blog .blog-wrapper .blog-content blockquote p {
  color: brown;
  text-align: center;
  padding: 30px;
  border-left: 3px solid #d3d6db;
  border-right: 3px solid #d3d6db;
  margin: 20px 0px;
}

@media (max-width: 768px) {
  .single-blog .blog-wrapper .blog-title {
    font-size: 20px;
  }

  .single-blog .blog-wrapper .blog-content p {
    font-size: 12px;
  }
}
